<log4net>
    <root>
        <level value="ALL" />
        <appender-ref ref="console" />
        <!--<appender-ref ref="file" />-->
    </root>
    <appender name="console" type="log4net.Appender.ColoredConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="[%level] %message%newline" />
        </layout>

        <mapping>
            <level value="ERROR" />
            <foreColor value="Red" />
        </mapping>
        <mapping>
            <level value="DEBUG" />
            <foreColor value="Green" />
        </mapping>
    </appender>
</log4net>
